@font-face {
    font-family: 'DMSerifDisplay';
    src: url('../fonts/DMSerifDisplay/DMSerifDisplay-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url('../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OleoScript';
    src: url('../fonts/Oleo_Script/OleoScript-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OleoScript';
    src: url('../fonts/Oleo_Script/OleoScript-Bold.ttf');
    font-weight: 400;
    font-style: Bold;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}